#roomcont {
    float: right;
    width: 77%;
    padding-top: 72px;
    padding-bottom: 73px;
}
#roomcont nav {
    position: fixed;
    top: 0;
    left: 23%;
    right: 0;
    transition: left .4s;
}
#roomcont .navbar-brand, #roommenu .navbar-brand {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#input {
    position: fixed;
    left: 24%;
    width: 75%;
    bottom: 20px;
    transition: left .4s, width .4s;
    box-shadow: 0 2px 7px 1px gray;
    background-color: rgba(248, 249, 250, .85);
}
#input:focus {
    background-color: white;
}
#roommenu {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width: 23%;
    transition: margin .4s;
}
#roommenu > nav {
    border-bottom: 1px solid #f8f9fa;
    user-select: none;
}
#roommenu > nav > img {
    width: 32px;
    padding: 1px;
}
.btnmenu {
    display: none;
}
.menuopen {
    margin-left: 0 !important;
}
#names {
    position: absolute;
    top: 57px;
    bottom: 57px;
    width: 100%;
    overflow-y: scroll;
}
#names > div {
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid transparent;
}
#names > div.user {
    cursor: pointer;
}
#names > div.user:not(.selected):hover {
    background-color: #6c757d;
}
#names > .selected {
    border-bottom: 1px solid #343a40;
    background-color: #f8f9fa;
    color: #343a40;
}
#names > div > img {
    width: 32px;
    padding: 1px;
}
#names > div > span {
    vertical-align: middle;
    font-size: 18px;
}
#menubtns {
    position: absolute;
    margin:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    border-top: 1px solid #f8f9fa;
}
#menubtns .col {
    padding-top: 12px;
}
#menubtns > span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
@media screen and (max-width:1350px) {
    #roomcont {
        width: 100%;
    }
    #roomcont nav {
        left: 0;
    }
    #input {
        left: 1%;
        width: 98%;
    }
    .btnmenu {
        display: inline-block;
    }
    #roommenu {
        max-width: 307px;
        margin-left: -307px;
        width: 90%;
    }
}